EXPO_PUBLIC_API_URL=https://api.stpsoluciones.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID=           # OAuth web client ID (proyecto Google Cloud 861368211735)
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=   # OAuth Android client ID (package: com.stpsoluciones.mobile)
